{block content}

	<div class="jumbotron">





		<a n:href="Post:create" n:if="$user->loggedIn">Vytvořit nový článek</a>


	<h1 align="center" n:block="title">Můj blog</h1>


	{foreach $posts as $post}
		<div class="container">

            <h2><a n:href="Post:show $post->id">{$post->title}</a></h2>

			<p class="date">{$post->created_at|date:'F j, Y'}</p>



			<p>{$post->content}</p>
		</div>
	{/foreach}

	</div>
{/block}

